/* shared font related css */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}


/* nav related css */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
font-size: 45px;
font-weight: 800;

}
nav > ul{
    display: flex;
    align-items: center;

   
}
nav li{
    list-style: none;
    margin-right: 50px;
    color: #1c1919;
   
    
}
nav a{
    text-decoration: none;
    color: #1c1919;
}
.btn-primary{
border: 0px;
background: #FD6E0A;
font-size: 20px;
color: white;
font-weight: 700;
padding: 15px 35px;
}
/* header related css */
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-picture{
    width: 500px;
}